.mud-paper {
    width: 250px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #16a085;
    box-shadow: none;
    border: 1px solid #16a085;
}

.mud-nav-menu {
    border: none;
}

.mud-nav-link {
    color: #16a085;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.mud-nav-link:hover {
    background-color: #16a085;
    color: #16a085;
}

.mud-nav-link.active {
    background-color: #16a085;
    color: #ffffff;
}
