@page "/AddColaborator/{id:int"}"
@using HttpClients.ClientInterfaces
@inject IProjectService ProjectService;
<h3>AddColaborator</h3>

<div class="wrapper">
    <div class="input-box">
        <input type="text" placeholder="Project Title" @bind="username" @bind:event="oninput">
    </div>
    <div class="input-box button">
        @if (!string.IsNullOrEmpty(message))
        {
            <label style="color :red"> @message </label>
        }
        <button @onclick="addToProject" class="acceptbtn"> Create </button>
    </div>
</div>

<label> the name in the field needs be identical case-wise to the one in the database </label>

@code { 
    [Parameter]
    public int id { get; set; }
    private string username = "";
    private string message= "";
    
    private async Task addToProject()
    {
        message = "";

        try
        {
            await ProjectService.addCollaborator(id, username);

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
    
    
    
}