@page "/CreateProject"
@using HttpClients.ClientInterfaces
@using global::Shared.DTOs
@inject IProjectService ProjectService
@using System.Security.Claims



<h3>CreateProject</h3>
<AuthorizeView Roles="project manager">
    <Authorized>
        <div class="wrapper">
            <div class="input-box">
                <input type="text" placeholder="Project Title" @bind="title" @bind:event="oninput">
            </div>
            <div class="input-box button">
                @if (!string.IsNullOrEmpty(message))
                {
                    <label style="color :red"> @message </label>
                }
                <button @onclick="Create" class="acceptbtn"> Create </button>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <label>
           You are not authorized to view this page.
        </label>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;
    
    private string title = "";
    private string message = "";
    private ClaimsPrincipal? _user;

    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        _user = authState.User;
    }
    private async Task Create()
    {
        message = "";
        if (string.IsNullOrEmpty(title))
        {
            message = "Cannot create a title-less post!";
            return;
        }
        try
        {
            await ProjectService.Create(new ProjectCreationDto
            {
                
                OwnerUsername = _user.Identity.Name,
                Name = title
            });
            message = "Project created succesfully!";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            message = e.Message;
        }
    }
}