
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

h3{
    text-align: center;
    color: #16a085;
    margin-bottom: 20px;
    margin-top: 20px;
}