
.container {
    margin: 20px;
}

h3 {
    top: 50%;
    left: 50%;
    font-size: 24px;
    font-weight: bold;
    color: #16a085;
}

.error-message {
    color: red;
    font-weight: bold;
}

.loading-message {
    text-align: center;
}

.table {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.delete-label {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.select-user-story {
    margin-top: 20px;
}

.input-box {
    margin-top: 10px;
}

.input-box select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-button {
    margin-top: 10px;
}

.authorized-section {
    margin-bottom: 20px;
}

.unauthorized-section {
    margin-bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h3 {
    text-align: center;
    color: #16a085;
    margin-bottom: 20px;
    margin-top: 20px;
}
