<div class="input-box">
    <select value="@Points" @onchange="@HandlePointsChanged">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="8">8</option>
        <option value="13">13</option>
        <option value="20">20</option>
        <option value="40">40</option>
        <option value="100">100</option>
    </select>
</div>

@code {

    [Parameter]
    public int Points { get; set; }

    [Parameter]
    public EventCallback<int> PointsChanged { get; set; }

    private async Task HandlePointsChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out var selectedPoints))
        {
            Points = selectedPoints;
            await PointsChanged.InvokeAsync(Points);
        }
    }

}